<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="featured" class="content-section">
                <div class="section-heading">
                    <h1>BECAUSE I’M TOO SICK<br><em></em></h1>
                    <!-- <p>How this technique can improve your life</p> -->
                </div>
                <p><b>The following is an extract from:</b>
                    <br>
                    I know what to do, so why don’t I do it? by Nick Hall, Ph.D. ISBN 9 781424 304646</p>
                    <br>
                    <br>
                    <div class="center"><img src="app/styles/images/chapter08.jpg"></div>
                    <span id="newspan">
                    <h4>CHOICE OF RESOURCES</h4>
                    <p>(Click on the number or resource heading to go directly to your choice)</p>
                </span>
                <table id="tab1">
                    <tr>
                        <td>NO.</td>
                        <td>Resource</td>
                        <td>Page</td>
                    </tr>
                    <tr>
                        <td id="td1">1</td>
                        <td id="td2"><a href="#p1">Overview</a></td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td id="td1">2</td>
                        <td id="td2"><a href="#v1">Your Body’s Defense System</a></td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td id="td1">3</td>
                        <td id="td2"><a href="#p2">Chronic Fatigue And The Immune System</a></td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td id="td1">4</td>
                        <td id="td2"><a href="#v2">Specific Immunity</a></td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td id="td1">5</td>
                        <td id="td2"><a href="#p3">How To Stay Healthy</a></td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td id="td1">6</td>
                        <td id="td2"><a href="#v3">Protecting The Immune System From Stress</a></td>
                        <td>11</td>
                    </tr>
                     <tr>
                        <td id="td1">7</td>
                        <td id="td2"><a href="#p4">Expectations, Beliefs, And Immunity</a></td>
                        <td>12</td>
                    </tr>
                     <tr>
                        <td id="td1">8</td>
                        <td id="td2"><a href="#v4">Personal Notes</a></td>
                        <td>14</td>
                    </tr>
                </table>
</section>
</div>