

        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
                <a href="#"><img src="app/styles/images/SGH-logo.png" width="90%"></a>
            <div><img src="app/styles/images/humanface.jpg" width="100%" alt="WellKom"></div>
            </div>
            <nav>
                <ul>
                	<li>
                        <a href="#top">
                            <span class="rect"></span>
                            <span class="circle"></span>
                             Home
                        </a>
                    </li>
                                        <li><a href="#featured">                            <span class="rect"></span>
                            <span class="circle"></span>Because I’m Too Sick</a></li>
                    <li>
                    	<a href="#p1">
                    		<span class="rect"></span>
                            <span class="circle"></span>
                            Overview

                    </a>
                </li>
                    <li>
                    	<a href="#v1">
                    		<span class="rect"></span>
                            <span class="circle"></span>
                            Your Body’s Defense System

                    </a>
                </li>
                    <li>
                    	<a href="#p2">                    		<span class="rect"></span>
                            <span class="circle"></span>
                    		Chronic Fatigue And The Immune System

                    </a>
                </li>
                    <li>
                    	<a href="#v2">                    		<span class="rect"></span>
                            <span class="circle"></span>
                    		Specific Immunity

                    </a>
                </li>
                    <li>
                    	<a href="#p3">                    		<span class="rect"></span>
                            <span class="circle"></span>
                    		How To Stay Healthy
 
                    </a>
                </li>
                    <li>
                    	<a href="#v3">                    		<span class="rect"></span>
                            <span class="circle"></span>
                    		Protecting The Immune System From Stress

                    </a>
                </li>
                    <li>
                    	<a href="#p4">                    		<span class="rect"></span>
                            <span class="circle"></span>
Expectations, Beliefs, And Immunity
                    </a>
                </li>
                    <li>
                    	<a href="#v4"    >                		<span class="rect"></span>
                            <span class="circle"></span>Personal Notes
                    		
                    </a>
                </li>
                    <li>
                        <a href="#thankyou">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Thank you!
                        </a>
                    </li>
                </ul>
            </nav>
        </div>