<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="p2" class="content-section">
                <div class="section-heading">
                    <h1>Chronic Fatigue And<em> The Immune System</em></h1>
                </div>
                <p>
                	It is not surprising, given the close association between sleep and immunity, that disorders of one system might be related to the other. While the evidence is far from being conclusive, there is reason to believe that some forms of chronic fatigue may involve a perturbed state of immunity, possibly in association with stress.<br><br>
Chronic Fatigue Syndrome is, by definition, a collection of symptoms. The causes of the same cluster of symptoms may vary from one individual to another, complicating not only the diagnosis of this elusive condition but also arriving at a viable treatment. It may well be that in some individuals, fatigue may be the culmination of chronic stress with immune system involvement. In addition to fatigue, some of the behavioral consequences of excessive immunity include symptoms of depression. It could be argued that engaging in withdrawal behaviors while the immune system is engaged in combating an infection would protect the organism.<br><br>
First, energy substrates could be diverted to the immune system, instead of being utilized in non-essential pursuits. Second, there could be additional risks when emotion-numbing cytokines are present. Staying out of a potentially hostile environment would be conducive to survival. Problems would arise if these basic mechanisms were activated at a time when the immune system was not required to combat an infection. For example, the microbe is under control, but the immune system continues to be stimulated. This is thought to be the cause of some forms of Chronic Fatigue Syndrome.<br><br>
In addition, many of the cytokines produced by an activated immune system are directly responsible for the symptoms that result in our feeling miserable when burdened with the flu or a bad cold. The intent is to keep us emotionally flat, so that we won’t feel motivated to kick up our heels and divert energy from the immune system.<br><br>
                </p>

                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            
                        </div>
                    </div>
                </div>            
            </section>
            <section id="v2" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Specific<em> Immunity</em></h1>
                        </div>
                       <p>
                       	If the phagocytes are unable to rid the body of virus or bacteria, signals are transmitted to the lymphocytes, which function in a relatively specific manner. T-lymphocytes undergo maturation within the thymus gland and play multiple roles. Some are regulatory, in that they either can up- regulate or down-regulate other cells. They are referred to as helper or suppressor cells, respectively. Others, such as cytotoxic T-cells, are capable of directly killing a target.<br><br>
Each has unique characteristics, which can be identified through the use of specific monoclonal antibodies. Hence, there are alternative sets of terminology used to describe these cells. They might be identified on the basis of their function, the type of surface marker they express, or the name of the antibody, which is used to identify the population.<br><br>
T-cells, especially the less mature ones found in the thymus gland, are particularly susceptible to the inhibitory influence of cortisol. Since some of those cells will later regulate the biological activity of other lymphocytes, stress indirectly can impact on just about every aspect of your ability to fight disease. While high levels of cortisol are capable of down-regulating these cells, low levels are needed in order for them to function. Cortisol and catecholamines also are capable of triggering the migration of T-cells out of the thymus to the far reaches of the body, where they might be required.<br><br>
Natural Killer Cells are large, granular, lymphocytes that lyse target cells, but without being previously sensitized. They play an important role in fighting a wide range of viral infections. B-lymphocytes remain in the bone marrow, where they undergo maturation. These cells will eventually differentiate into antibody-producing, plasma cells. Antibodies are proteins, which, ultimately, help to rid the body of microbes and other foreign molecules. Antibodies also are referred to as immunoglobulins, which is why the abbreviation is Ig. Like the T-cells, antibodies work in a relatively specific manner. Thus, the antibody that will protect you from influenza will not protect you from tetanus.<br><br>
In response to most microbes, the first antibody to appear is IgM. It exists as a pentamer, or five molecules joined together. The levels build up quite rapidly, and because of the multiple, binding sites, IgM is highly efficient in combating infectious agents. On the other hand, its large size prevents it fromgetting into all regions of the body, and it has a fairly short half-life.<br><br>
That is not true of IgG, which is able to slip into most body regions due to its small size. It even crosses the placenta, providing adult levels of protection to the newborn. In addition, it has a relatively long half-life, enabling it to provide protection longer.<br><br>
IgA exists primarily in secretions and in the colostrum of a mother’s milk. Two molecules are joined, enabling it to latch efficiently onto microbes and, thereby, to prevent them from getting further into the body. One of the benefits of breast-feeding is the protection provided by the mother’s IgA.<br><br>IgE is the antibody responsible for more absenteeism and discomfort than probably any other. That’s because it links allergens, such as pollen and animal dander, to the surface of mast cells and basophils, thereby, giving rise to the symptoms of allergic reactions.<br><br>
IgD is found in only trace amounts in the blood. It is, however, found on the surface of lymphocytes, where it may contribute to a microbe’s binding site.
                       </p>
                        <div class="text-content">
                        	<div class="section-heading">      
</section>
</div>
